<h3 class="grey-border-bottom">Editing Subset : {{model.name}}</h3>
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-10 input-field" style="margin-left:10px;">
                      <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Subset Name</div>
                      {{input id="name-input" class="form-control" value=model.name type="text"}}
                    </div>
                        {{#each model.eclObjects as |eclObject|}}
                            <div class="col-md-12">
                                {{#if eclObject.operator}}
                                    <div class="col-md-6 col-md-offset-3">
                                        <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Operator</div>
                                        <select style="display: inline-block;">
                                          {{#each model.operatorOptions as |opOption|}}
                                            <option value={{opOption.value}} selected={{eq eclObject.operator opOption.value}}>{{opOption.name}}</option>
                                          {{/each}}
                                        </select>
                                    </div>
                                {{/if}}
                                <div class="col-md-6">
                                    <div class="col-md-10 input-field">
                                      <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Type</div>
                                      <select style="display: inline-block;">
                                          {{#each model.eclOption as |option|}}
                                            <option value={{option.value}} selected={{eq eclObject.ecl option.value}}>{{option.name}}</option>
                                          {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-10">
                                        {{concept-listing filter=eclObject.focusConcept.fsn conceptId=eclObject.focusConcept.id value=eclObject.focusConcept.fsn  title='Focus Concept'}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
<!--
                    <div class="col-md-12">
                        <div class="col-md-5 col-md-offset-3 input-field">
                              <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Operator</div>
                              <select name="gender" id="genderSelect" class="form-control">    
                                <option value="null"></option>
                                <option value="AND">AND</option>
                                <option value="OR" selected>OR</option>
                                <option value="MINUS">MINUS</option>
                              </select>
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-10 input-field">
                              <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Type</div>
                              <select name="gender" id="genderSelect" class="form-control">    
                                <option value="null"></option>
                                <option value="male" selected>Self</option>
                                <option value="<<">Descendant of</option>
                                <option value="female">Descendant of or self</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>
-->
<!--
                    <div class="col-md-6">
                        <a class="waves-effect waves-light btn blue col-md-5 col-md-offset-3" {{action "addRefinement"}}>Add Refinement</a>
                    </div>
                    <div class="col-md-6">
                        <a class="waves-effect waves-light btn blue col-md-5 col-md-offset-3" {{action "addAttrRefinement"}}>Add Attribute Refinement</a>
                    </div>
-->
                </div>
            </div>

            <div class="row col-md-12">
                <a class="waves-effect waves-light btn green col-md-1 col-md-offset-3" {{action "saveSubset"}}>Save Subset</a>
            </div>



