{{outlet}}
<div class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-6 grey-border-bottom">
            <h2>Cohort</h2>
        </div>
        <div class="col-md-6 grey-border-bottom">
            <h3>{{model.cohortData.totalElements}} Patients Matched</h3>
        </div>
    </div>

    <div class="col-md-6">
         <div class="col-md-10 col-md-offset-1">
            <h3>Demographic:</h3>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field" style="margin-bottom:10px;">
          <div style="color: #9e9e9e; font-size:1rem; font-weight: bold;">Gender</div>
          <select name="gender" id="genderSelect" class="form-control">
            <option value="null"></option>
            <option value="male">Male</option>
            <option value="female" >Female</option>
          </select>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field">
            {{input id="ageMin-input" class="form-control" value=model.ageMin type="text"}}
            <label for="ageMin-input" style="margin-left:14px;">Minimum Age</label>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field">
            {{input id="ageMax-input" class="form-control" value=model.ageMax type="text"}}
            <label for="ageMax-input" style="margin-left:14px;">Maximum Age</label>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3>Primary Exposure:</h3>
        </div>
        <div class="col-md-3 col-md-offset-1">
                <select name="range" class="form-control refinementDdl" onChange={{action (mut model.primaryLimitation) value="target.value"}} style="display: inline-block;">
                    <option value="64572001" selected>Disorder</option>
                    <option value="373873005">Product</option>
                    <option value="71388002" >Procedure</option>
                  </select>
            </div>
        <div class="col-md-8">
            {{concept-listing filter=model.primaryExposure value=model.primaryExposure limitedRange=true typeId=model.primaryLimitation conceptFsn=model.primaryFsn title='Primary Exposure' cssId="primaryExposure"}}
        </div>
        {{#each model.inclusionCriteria as | refinement index|}}
            <div class="col-md-10 col-md-offset-1">
                <h3>Refinement:</h3>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2 input-field">
                    {{input class="form-control" value=refinement.includeDaysInPast type="text"}}
                    <label for="includeDaysInPast-input" style="margin-left:14px;" class="active">Include days</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <select name="has" class="form-control refinementDdl" onChange={{action (mut refinement.has) value="target.value"}}>
                        <option value="true" selected>Has</option>
                        <option value="false">Has not</option>
                      </select>
                </div>
                <div class="col-md-2">
                    <select name="range" class="form-control refinementDdl" onChange={{action (mut refinement.limitation) value="target.value"}}>
                        <option value="64572001" selected>Disorder</option>
                        <option value="373873005">Product</option>
                        <option value="71388002" >Procedure</option>
                      </select>
                </div>

                <div class="col-md-5">
                    {{concept-listing filter=refinement.ecl value=refinement.ecl limitedRange=true conceptFsn=refinement.fsn typeId=refinement.limitation title='Inclusion Criteria'}}
                </div>
                <div class="col-md-1">
                    <a class="waves-effect waves-light btn red" {{action "deleteRefinement" index model.inclusionCriteria}}>Remove</a>
                </div>
            </div>
        {{/each}}

        {{#if model.testOutcome}}
            <div class="eclGroup col-md-12">
                <div class="col-md-9 col-md-offset-2  input-field">
                    {{input class="form-control" value=model.testVariable.includeDaysInFuture type="text"}}
                    <label for="includeDaysInPast-input" style="margin-left:14px;" class="active">Then within</label>
                </div>
                <div class="col-md-2 input-field" style="color: #9e9e9e; font-weight: bold; font-size:12px; padding-top:10px;">Has or Has Not</div>
                <div class="col-md-3">
                    <select name="range" class="form-control refinementDdl" onChange={{action (mut model.testVariable.limitation) value="target.value"}}>
                        <option value="64572001" selected>Disorder</option>
                        <option value="373873005">Product</option>
                        <option value="71388002" >Procedure</option>
                      </select>
                </div>
                <div class="col-md-7">
                    {{concept-listing filter=model.testVariable.ecl value=model.testVariable.ecl conceptFsn=model.testVariable.fsn limitedRange=true typeId=model.testVariable.limitation title='Inclusion Criteria'}}
                </div>
                <div class="col-md-9 col-md-offset-2  input-field">
                    {{input class="form-control" value=model.testOutcome.includeDaysInFuture type="text"}}
                    <label for="includeDaysInPast-input" style="margin-left:14px;" class="active">Then within</label>
                </div>
                <div class="col-md-2 input-field" style="color: #9e9e9e; font-weight: bold; font-size:12px; padding-top:10px;">Chance of</div>
                <div class="col-md-3">
                    <select name="range" class="form-control refinementDdl" onChange={{action (mut model.testOutcome.limitation) value="target.value"}}>
                        <option value="64572001" selected>Disorder</option>
                        <option value="373873005">Product</option>
                        <option value="71388002" >Procedure</option>
                      </select>
                </div>
                <div class="col-md-7">
                    {{concept-listing filter=model.testOutcome.ecl value=model.testOutcome.ecl conceptFsn=model.testOutcome.fsn limitedRange=true typeId=model.testOutcome.limitation title='Inclusion Criteria'}}
                </div>
            </div>
        {{/if}}


        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a class="btn btn-primary green" {{action "addQueryRefinement" (mut model.inclusionCriteria)}}>Add Refinement</a>
            </div>
            {{#if model.testOutcome}}
                <div class="col-md-3 col-md-offset-1">
                    <a class="btn btn-primary red" {{action "removeTests" (mut model)}}>Remove Test</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" {{action "fetchCohort"}}>Run Test</a>
                </div>
            {{else}}
                <div class="col-md-3 col-md-offset-1">
                    <a class="btn btn-primary green" {{action "addTests" (mut model)}}>Add Test</a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" {{action "fetchCohort"}}>Fetch Cohort</a>
                </div>
            {{/if}}

        </div>
    </div>
    <div class="col-md-6">
        {{#if loading}}
        <div class="text-center">
            <div class="custom-loader"></div>
        </div>
        {{/if}}
        {{#unless loading}}
        {{#if error}}
            <div class="row col-md-12 text-center red">
                <h3>{{error}}</h3>
            </div>
        {{/if}}
        {{#if model.cohortData.cohortTotal}}
            <div class="row col-md-12 text-center">
                <h3>{{model.cohortData.patientTotalFormatted}} total patients (this is only simulated data).</h3>
                <h4>{{model.cohortData.cohortTotalFormatted}} {{get-wording model.primaryLimitation "past"}} {{strip-fsn model.primaryFsn}} {{#each model.inclusionCriteria as | refinement |}} AND {{strip-fsn refinement.fsn}}{{/each}}</h4>
                <h4>{{model.cohortData.hasTestVariablePercentage}}% {{get-wording model.testVariable.limitation "past"}} {{strip-fsn model.testVariable.fsn}} ({{model.cohortData.hasTestVariableCountFormatted}} patients)</h4>
                <h4 style="color: #337ab7">Of these {{model.cohortData.hasTestVariableChanceOfOutcome}}% {{get-wording model.testOutcome.limitation "and"}} {{strip-fsn model.testOutcome.fsn}} ({{model.cohortData.hasTestVariableHasOutcomeCountFormatted}} patients)</h4>
                <h4 style="color: #ff9800">Of the remaining {{model.cohortData.hasNotTestVariableCountFormatted}} patients who did not {{get-wording model.testVariable.limitation "present"}} {{strip-fsn model.testVariable.fsn}}, {{model.cohortData.hasNotTestVariableChanceOfOutcome}}% {{get-wording model.testOutcome.limitation "and"}} {{strip-fsn model.testOutcome.fsn}} ({{model.cohortData.hasNotTestVariableHasOutcomeCountFormatted}} patients)</h4>
                <h4>The hazard ratio for {{get-wording model.testOutcome.limitation "verb"}} {{strip-fsn model.testOutcome.fsn}} after {{get-wording model.testVariable.limitation "verb"}} {{strip-fsn model.testVariable.fsn}} in this cohort is {{model.cohortData.variableOutcomeHazardRatio}} times more likely.</h4>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-12" style="margin-top:80px;">
                    <div class="col-md-6">
                    <div class="chart" id="graph" data-percent={{model.cohortData.hasTestVariableChanceOfOutcome}}></div>
                    <script>var el = document.getElementById('graph');

                            var options = {
                                percent:  el.getAttribute('data-percent') || 25,
                                size: el.getAttribute('data-size') || 220,
                                lineWidth: el.getAttribute('data-line') || 15,
                                rotate: el.getAttribute('data-rotate') || 0
                            }

                            var canvas = document.createElement('canvas');
                            var span = document.createElement('span');
                            span.textContent = options.percent + '%';

                            if (typeof(G_vmlCanvasManager) !== 'undefined') {
                                G_vmlCanvasManager.initElement(canvas);
                            }

                            var ctx = canvas.getContext('2d');
                            canvas.width = canvas.height = options.size;

                            el.appendChild(span);
                            el.appendChild(canvas);

                            ctx.translate(options.size / 2, options.size / 2);
                            ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI);

                            var radius = (options.size - options.lineWidth) / 2;

                            var drawCircle = function(color, lineWidth, percent) {
                                    percent = Math.min(Math.max(0, percent || 1), 1);
                                    ctx.beginPath();
                                    ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false);
                                    ctx.strokeStyle = color;
                                    ctx.lineCap = 'round';
                                    ctx.lineWidth = lineWidth
                                    ctx.stroke();
                            };

                            drawCircle('#efefef', options.lineWidth, 100 / 100);
                            drawCircle('#337ab7', options.lineWidth, options.percent / 100);</script>
                    </div>
                    <div class="col-md-6">
                        <div class="chart" id="graph2" data-percent={{model.cohortData.hasNotTestVariableChanceOfOutcome}}></div>
                        <script>var el = document.getElementById('graph2');

                            var options = {
                                percent:  el.getAttribute('data-percent') || 25,
                                size: el.getAttribute('data-size') || 220,
                                lineWidth: el.getAttribute('data-line') || 15,
                                rotate: el.getAttribute('data-rotate') || 0
                            }

                            var canvas = document.createElement('canvas');
                            var span = document.createElement('span');
                            span.textContent = options.percent + '%';

                            if (typeof(G_vmlCanvasManager) !== 'undefined') {
                                G_vmlCanvasManager.initElement(canvas);
                            }

                            var ctx = canvas.getContext('2d');
                            canvas.width = canvas.height = options.size;

                            el.appendChild(span);
                            el.appendChild(canvas);

                            ctx.translate(options.size / 2, options.size / 2);
                            ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI);

                            var radius = (options.size - options.lineWidth) / 2;

                            var drawCircle = function(color, lineWidth, percent) {
                                    percent = Math.min(Math.max(0, percent || 1), 1);
                                    ctx.beginPath();
                                    ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false);
                                    ctx.strokeStyle = color;
                                    ctx.lineCap = 'round';
                                    ctx.lineWidth = lineWidth
                                    ctx.stroke();
                            };

                            drawCircle('#efefef', options.lineWidth, 100 / 100);
                            drawCircle('#ff9800', options.lineWidth, options.percent / 100);</script>
                    </div>


                </div>
            </div>

        {{else}}
            <div class="section">
                {{#if model.cohortData.content}}
                    {{#if model.cohortData.last}}
                        <h3>Displaying {{model.cohortData.totalElements}} Patients</h3>
                    {{else}}
                        <h3>First 100 of {{model.cohortData.totalElements}} Patients</h3>
                    {{/if}}
                <table class="striped hdad-table">
                    <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Sex</th>
                        <th>DOB</th>
                        <th>Encounter</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each model.cohortData.content as |data|}}
                        <tr  class="parent">
                            <td>{{data.roleId}}</td>
                            <td>{{data.gender}}</td>
                            <td>{{data.dobFormated}}</td>
                            <td>
                            <ul>
                            {{#each (sort-by "dateStamp" "primaryExposure:desc" "conceptTerm" data.encounters) as |encounter|}}
                            <li>
                                {{encounter.date}}, <span>{{encounter.conceptTerm}}</span> {{#if encounter.primaryExposure}}<b style="color:steelblue;">Primary Exposure</b>{{/if}}
                            </li>
                        {{/each}}
                            </ul>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{else}}
                    {{#if model.cohortData}}
                        <h3>No results</h3>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
        {{/unless}}
    </div>
</div>