<h2>Cohorts</h2>

{{concept-listing filter=concept choose=(action 'chooseConcept')}}

<div>
    <a class="waves-effect waves-light btn" {{action "fetchCohort"}}>Fetch Cohort</a>
</div>

{{#if loading}}
<div class="section center-align">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
</div>
{{/if}}
{{#unless loading}}
<div class="section">
    <h4>Matched Patients: {{format-number cohortData.totalElements format="000,000,000"}}</h4>
    <h4>Age Distribution</h4>
    <div class="chart-container" style="height: 500px">
        {{vertical-bar-chart data=patientBirthDateValues sortKey=label}}
    </div>
</div>
<div class="section">
    <h4>First 100 Patients</h4>
    <table class="striped">
        <thead>
        <tr>
            <th>Role ID</th>
            <th>Sex</th>
            <th>DOB</th>
            <th>Encounter</th>
        </tr>
        </thead>
        <tbody>
        {{#each cohortData.content as |data|}}
            <tr>
                <td>{{data.roleId}}</td>
                <td>{{data.sex}}</td>
                <td>{{data.dob}}</td>
                <td>
                {{#each data.encounters as |encounter|}}
                    {{encounter.date}}, <span>{{encounter.conceptTerm}}</span>
                {{/each}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>
{{/unless}}
