{{outlet}}
<div class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-6 grey-border-bottom">
            <h2>Cohort</h2>
        </div>
        <div class="col-md-6 grey-border-bottom">
            <h3>{{model.cohortData.totalElements}} Patients Matched</h3>
        </div>
    </div>
    
    <div class="col-md-4">
         <div class="col-md-10 col-md-offset-1">
            <h3>Demographic:</h3>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field">
            {{input id="gender-input" class="form-control" value=model.gender type="text"}}
            <label for="gender-input" style="margin-left:14px;">Gender</label>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field">
            {{input id="ageMin-input" class="form-control" value=model.ageMin type="text"}}
            <label for="ageMin-input" style="margin-left:14px;">Minimum Age</label>
        </div>
        <div class="col-md-10 col-md-offset-1 input-field">
            {{input id="ageMax-input" class="form-control" value=model.ageMax type="text"}}
            <label for="ageMax-input" style="margin-left:14px;">Maximum Age</label>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3>Primary Exposure:</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{concept-listing filter=model.primaryExposure value=model.primaryExposure  choose=(action 'fetchCohort') title='Primary Exposure' cssId="primaryExposure"}}
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3>Refinement:</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{concept-listing filter=model.inclusionCriteria value=model.inclusionCriteria choose=(action 'fetchCohort') title='Inclusion Criteria' cssId="inclusionCriteria"}}
        </div>
        <div class="col-md-9 col-md-offset-2  input-field">
            {{input id="includeDaysInPast-input" class="form-control" value=model.includeDaysInPast type="text"}}
            <label for="includeDaysInPast-input" style="margin-left:14px;">Include days in past</label>
        </div>
        <div class="col-md-9 col-md-offset-2 input-field">
            {{input id="includeDaysInFuture-input" class="form-control" value=model.includeDaysInFuture type="text"}}
            <label for="includeDaysInFuture-input" style="margin-left:14px;">Include days in future</label>
        </div>

        <div class="col-md-12 text-center">
            <a class="waves-effect waves-light btn btn-primary" {{action "fetchCohort"}}>Fetch Cohort</a>
        </div>
    </div>
    <div class="col-md-8">
        {{#if loading}}
        <div class="section center-align">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
        </div>
        {{/if}}
        {{#unless loading}}
        <div class="section">
            {{#if model.cohortData.content}}
            <h3>First 100 of {{model.cohortData.totalElements}} Patients</h3>
            <table class="striped">
                <thead>
                <tr>
                    <th>Role ID</th>
                    <th>Sex</th>
                    <th>DOB</th>
                    <th>Encounter</th>
                </tr>
                </thead>
                <tbody>
                {{#each model.cohortData.content as |data|}}
                    <tr  class="parent">
                        <td>{{data.roleId}}</td>
                        <td>{{data.gender}}</td>
                        <td>{{data.dobFormated}}</td>
                        <td>
                        <ul>
                        {{#each (sort-by "dateStamp" "primaryExposure:desc" "conceptTerm" data.encounters) as |encounter|}}
                            {{#if encounter.primaryExposure}}
                                <li>
                                    <b>{{encounter.date}}, </b><span><b>{{encounter.conceptTerm}}</b></span>
                                </li>
                            {{else}}
                                <li class="hidden-table-data" >
                                    {{encounter.date}}, <span>{{encounter.conceptTerm}}</span>
                                </li>
                            
                            {{/if}}
                        {{/each}}
                        </ul>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{/if}}

        </div>
        {{/unless}}
    </div>
</div>